#h1{
    border-radius: 15px;
    border: 3px solid;
    background-color: rgb(230, 223, 214);
    padding : 10px;
    margin : 30px;
    width: 40%;            
    color: rgb(41, 54, 18);
    text-align : center;
    display: flex;
    justify-content : center;
}

button{
    margin: 10px;
    width: 45vw;
    border: none;
    border-radius: 5px;
    background-color: darkgrey;
    color: white;
    padding: 15px;
    cursor: pointer;
}

button:active {
    background-color: blue;
}        


input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    padding: 20px;
    margin : 10px;
    border: 1px solid #dfdfdf;
    background-color: #aad2e9;
    text-align: center;
    cursor: pointer;
}
input[type="radio"]:checked + label {
    background-color: #113a6b;
    color: #ffffff;
}

fieldset {
    width: 40%;
    height: 30%;
    padding: 3vw;
    font-size: 23px;
    border: 1px solid #dfdfdf;
}

img {
    width : 15%;
    padding: 30px;
    margin-left: 30px;            
}